.diagonal{
  position: absolute;
  width: 6px;
  height:45px;
  background-color: $animation-color;
  top: 0px;
  z-index: 20;
}

@keyframes diagonalALeft {
  0% {
    left: -200px;
    top: 600px;
  }
}
@keyframes diagonalARight {
  0% {
    left: 0px;
    top: -200px;
  }
}
@keyframes diagonalNRight {
  0% {
    left: 560px;
    top: 700px;
  }
}
@keyframes diagonalNRight {
  0% {
    left: 560px;
    top: 700px;
  }
}
@keyframes diagonalRRight {
  0% {
    left: 140px;
    top: -200px;
  }
}
@keyframes diagonalMLeft {
  0% {
    left: 270px;
    top: -200px;
  }
}
@keyframes diagonalMRight {
  0% {
    left: 160px;
    top: 700px;
  }
}
@keyframes diagonalSRight {
  0% {
    height: 45px;
    left: 900px;
    top: 700px;
  }
  75% {
    top: 8px;
    left: 430px;
    height: 45px;
  }
}

.diagonal.a-one {
  left: 51px;
  transform: skew(-22deg);
  animation: diagonalALeft 2s;
}
.diagonal.a-two {
  left: 69px;
  transform: skew(22deg);
  animation: diagonalARight 1.75s;
}
.diagonal.n-one {
  left: 153px;
  height: 46px;
  transform: skew(31deg);
  animation: diagonalNRight 1.75s;
}
.diagonal.r-one {
  left: 248px;
  width: 7px;
  top: 21px;
  height: 25px;
  transform: skew(34deg);
  animation: diagonalRRight 2s;
}
.diagonal.m-one {
  left: 325px;
  transform: skew(18deg);
  animation: diagonalMLeft 1.75s;
}
.diagonal.m-two {
  left: 340px;
  transform: skew(-18deg);
  animation: diagonalMRight 1.25s;
}

.diagonal.s-one {
  top: 8px;
  height: 0px;
  left: 430px;
  transform-origin: top;
  transform: rotate(-41deg);
  animation: diagonalSRight 1s linear;
}

