.horizontal {
  position: absolute;
  height: 6px;
  left: 13px;
  width: 26px;
  background-color: $animation-color;
  z-index: 19;
}

@keyframes horizontalLeft {
  0% {
    left: -100%;
  }
}
@keyframes horizontalRight {
  0% {
    left: 210%;
  }
}

@keyframes pTopDelay {
  0% {
    width: 0px;
  }
  55% {
    width: 0px;
  }
}



.horizontal.p-top {
  height: 6px;
  left: auto;
  right: 416px;
  width: 21px;
  animation: pTopDelay 1.25s ;
}
.horizontal.p-bottom {
  top: 22px;
  width: 21px;
  animation: horizontalLeft 0.5s linear;
}
.horizontal.a-top {
  top: 27px;
  left: 50px;
  width: 26px;
  animation: horizontalRight 2s;
}
.horizontal.l-top {
  top: 39px;
  left: 90px;
  width: 26px;
  animation: horizontalLeft 2s;
}

@keyframes delay {
  0% {
    width: 0px;
  }
  80%  {
    width: 0px;
  }
}
.horizontal.d-top {
  left: auto;
  right: 250px;
  width: 16px;
  animation: delay 1.75s;
}
.horizontal.d-bottom {
  top: 40px;
  width: 16px;
  left: 185px;
  animation: horizontalLeft 1s linear;
}
.horizontal.r-top {
  left: 230px;
  width: 16px;
  animation: horizontalLeft 1s linear;
}
.horizontal.r-bottom {
  top: 21px;
  width: 22px;
  left: auto;
  right: 200px;
  animation: delay 1.75s;
}
.horizontal.e-top {
  left: 365px;
  width: 31px;
  animation: horizontalRight 2s;
}
.horizontal.e-middle {
  left: 365px;
  width: 31px;
  top: 21px;
  animation: horizontalRight 1.5s;
}
.horizontal.e-bottom {
  left: 365px;
  width: 31px;
  top: 40px;
  animation: horizontalLeft 2s;
}
