.query-container {
  position: relative;
  left: 0%;
  width: 50%;
  height: 100%;
  box-shadow: 0 0 700px 400px white;
  z-index: 2;
}

.query-form {
  position: relative;
  margin-top: 220px;
  margin-bottom: 20px;
  width: 285px;
  height: 45px;
  object-fit: contain;
  font-size: 14px;
  border-radius: 4px;
  background-color: #ffffff;
  padding-left: 10px;
  left: 5%;
}

@keyframes palindromeUp {
  0% {margin-top: 100%}
}
@keyframes palindromeTrue {
  0% {margin-top: 50%}
  80% {
    margin-top: 10px;
    transform: scale(1);
  }
  90% {transform: scale(1.1)}
}

.palindrome-answer {
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  animation: palindromeUp 1s;
  color: grey;
}
.true {
  animation: palindromeTrue 1.25s ;
  color: black;
}
//opacity fade in

@keyframes dividerFadeIn {
  0% {opacity: 0}
  50% {opacity: 0}
}
.divider {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0px auto 10px auto;
  border-top: 1px solid grey;
  width: 200px;
  animation: dividerFadeIn 1.5s;
}


