.blur-gradient {
  position: relative;
  left: 0%;
  width: 50%;
  height: 100%;
  // box-shadow: 0 0 700px 400px white;
  z-index: 2;
}

.query-container {
  position: absolute;
  left: $query-element-position + 1%;
  top: 220px;
  width: 100%;
  z-index: 3;
}
.query-answers {
  position: absolute;
  left: 0px;
  top: 60px;
  width: 100%;
}

.query-form {
  position: absolute;
  left: 0px;
  width: 285px;
  height: 45px;
  object-fit: contain;
  font-size: 14px;
  border-radius: 4px;
  background-color: #ffffff;
  padding-left: 10px;
}

@keyframes palindromeUp {
  0% {margin-top: 100%}
}
@keyframes palindromeTrue {
  0% {margin-top: 50%}
  80% {
    margin-top: 10px;
    font-size: 16px;
  }
  90% {font-size: 17px}
}

.palindrome-answer {
  text-align: left;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  animation: palindromeUp 1s;
  color: grey;
  width: auto;
  // font-size: 16px;
}
.true {
  animation: palindromeTrue 1.25s ;
  color: black;
}
//opacity fade in

@keyframes dividerSlideIn {
  0% {left: 100%}
}
.divider {
  position: absolute;
  left: 0%;
  // margin: 0px auto 10px auto;
  border-top: 1px solid grey;
  animation: dividerSlideIn 1s;
}


