.query-container {
  position: relative;
  top: 260px;
}

.query-form {
  width: 285px;
  height: 45px;
  object-fit: contain;
  font-size: 14px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 12px 21px 0 rgba(0, 0, 0, 0.24);
  padding-left: 10px;
  margin: 10px;
}
