

.vertical {
  top: 0px;
  position: absolute;
  height: 46px;
  left: 13px;
  width: 6px;
  background-color: $animation-color;
  z-index: 20;
}

@keyframes verticalUp {
  0% {
    height: 200px;
    top: 600px;
  }
}

@keyframes verticalDown {
  0% {
    height: 200px;
    top: -350px;
  }
}
.vertical.p-one {
  animation: verticalDown 1.5s;
}
.vertical.l-one {
  left: $leftmost-position;
  height:  45px;
  animation: verticalDown 1.5s;
}
.vertical.i-one {
  left: $leftmost-position + 35;
  animation: verticalUp 1s;
}
.vertical.n-one {
  left: $leftmost-position + 51;
  animation: verticalDown 1s;
}
.vertical.n-two {
  left: $leftmost-position + 79;
  animation: verticalUp 1.5s;
}
.vertical.d-one {
  left: $leftmost-position+ 94;
  animation: verticalDown 0.75s;
}
.vertical.r-one {
  left: $leftmost-position + 137;
  animation: verticalDown 1.5s;
}
.vertical.m-one {
  left: $leftmost-position + 227;
  animation: verticalUp 0.75s;
}
.vertical.m-two {
  left: $leftmost-position + 262;
  animation: verticalDown 1s;
}
.vertical.e-one {
  left: $leftmost-position + 277;
  animation: verticalUp 1s;
}

@keyframes oCircleDown {
  0% {
    height: 46px;
    top: -150px;
  }
  75% {
    height: 46px;
  }
}
.vertical.o-one {
  top: 22px;
  left: $leftmost-position + 214;
  width: 6px;
  height: 4px;
  animation: oCircleDown 0.6s linear;
}
