
.vertical {
  top: 0px;
  position: absolute;
  height: 46px;
  left: 13px;
  width: 6px;
  background-color: $animation-color;
  z-index: 20;
}

@keyframes verticalUp {
  0% {
    top: 600px;
  }
}

@keyframes verticalDown {
  0% {
    top: -350px;
  }
}
.vertical.p-one {
  animation: verticalDown 1.5s;
}
.vertical.l-one {
  left: 88px;
  height:  45px;
  animation: verticalDown 1.5s;
}
.vertical.i-one {
  left: 123px;
  animation: verticalUp 1s;
}
.vertical.n-one {
  left: 139px;
  animation: verticalDown 1s;
}
.vertical.n-two {
  left: 167px;
  animation: verticalUp 0.5s;
}
.vertical.d-one {
  left: 182px;
  animation: verticalDown 0.75s;
}
.vertical.r-one {
  left: 225px;
  animation: verticalDown 1.5s;
}
.vertical.m-one {
  left: 315px;
  animation: verticalUp 0.75s;
}
.vertical.m-two {
  left: 350px;
  animation: verticalDown 1s;
}
.vertical.e-one {
  left: 365px;
  animation: verticalUp 1s;
}

@keyframes oCircleDown {
  0% {
    height: 46px;
    top: -150px;
  }


  75% {
    height: 46px;
  }
}
.vertical.o-one {
  top: 22px;
  left: 302px;
  width: 6px;
  height: 4px;
  animation: oCircleDown 0.6s linear;
}
