$query-element-position: 10%;

@import '_palindrome-query.scss';
@import '_title.scss';
@import '_honeycomb.scss';
@import '_style-lines.scss';

.App {
  text-align: center;
  width: 100%;
}


@keyframes fadeIn {
  0% {opacity: 0}
  25% {opacity: 0}
}
.fade-in {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: fadeIn 3s;
  z-index: 20;
}




